.our-goal {
    margin-bottom: 15px;

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &__container {
        width: 100%;
        max-width: 80%;
        margin: auto;

        @media only screen and (max-width: 1200px) {
            max-width: 95%;
        }

        h2 {
            font-weight: bold;
            font-style: italic;
            font-size: 43px;
            margin-bottom: 15px;
            text-shadow: -2px 2px 10px black;
            text-align: center;
            color: $red-dark;

            @media only screen and (max-width: 768px) {
                font-size: 30px;
            }

            @media only screen and (max-width: 576px) {
                font-size: 20px;
            }
        }

        p, ul {
            font-style: italic;
            font-size: 18px;
            color: black;
            padding: 35px;

            @media only screen and (max-width: 576px) {
                padding: 25px 5px;
            }
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            box-shadow: 0 -4px 2px -2px grey;
        }
    }

    &__imgf {
        float: left;
        shape-outside: circle(50%);
        margin-right: 20px;
        margin-top: 10px;

        @media only screen and (max-width: 768px) {
            height: 150px;
        }

        @media only screen and (max-width: 576px) {
            height: 100px;
        }
    }
}
