/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: "";
    content: none;
}

q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
}
#chart-container{
    height: 300px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.red-btn {
    width: 100%;
    padding: 9px;
    margin-top: 10px;
    background-color: #c80000;
    border: none;
    border-radius: 100px;
    font-style: italic;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background 0.4s ease-out;
}

.red-btn:hover {
    background: #820203;
}

.red-btn.setting-btn {
    background-color: #c80000;
}

.red-btn.setting-btn i {
    transition: transform 0.4s;
    font-size: 17px;
    margin-right: 5px;
}

.red-btn.setting-btn:hover {
    background: #820203;
}

.red-btn.setting-btn:hover i {
    transform: scale(1.5);
}

.main-link {
    position: relative;
    margin-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

.main-link:last-child {
    margin-right: 0;
}

.main-link:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    transition: transform 0.2s;
    background: linear-gradient(to top right, #bd003c, #820203);
    transform: scaleX(0);
    height: 3px;
}

.main-link:hover:after {
    transform: scaleX(1);
}

@media only screen and (max-width: 576px) {
    .main-link {
        font-size: 12px;
    }
}

.edit-question, .delete-question {
    display: none !important;
    position: absolute;
    top: -20px;
    padding: 5px;
    text-decoration: none;
    color: #820203;
    font-style: italic;
    font-weight: bold;
    transition: transform 0.5s ease-out;
}

.edit-question:hover, .delete-question:hover {
    transform: scale(1.4);
    color: black;
}

.delete-question {
    left: 30px;
}

.user-info.tables {
    overflow-x: scroll;
}

.user-info.tables td .action-btn {
    display: block;
    text-align: center;
    background-color: transparent;
    border: none;
    width: auto;
    margin: auto;
}

.user-info.tables .users-form {
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.user-info.tables .users-form .red-btn {
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
}

.action-btn {
    margin: 5px;
    text-decoration: none;
    color: #820203;
    font-style: italic;
    font-weight: bold;
}

.action-btn i {
    transition: transform 0.5s ease-out;
}

.action-btn:hover i {
    transform: scale(1.2);
    color: black;
}

.action-btn:hover {
    text-decoration: underline;
}

form .row.text-row {
    width: 100% !important;
}

.table {
    border-collapse: collapse;
    width: 100%;
    font-style: italic;
}

.table td, .table th {
    border: 1px solid #ddd;
    vertical-align: middle;
    padding: 4px;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #820203;
    color: white;
}

.table .red-btn {
    background-color: #c80000;
    margin-top: 0;
    padding: 5px 15px;
    transition: background-color 0.5s ease-out;
}

.table .red-btn:hover {
    background-color: #820203;
}

.rounded-dropdown {
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 14px;
    border-radius: 100px;
    outline: none;
}

.rounded-dropdown:focus {
    border: 2px solid #c80000;
}

.warning {
    font-style: italic;
    font-weight: bold;
    color: #820203;
}

.paralax-img {
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px grey;
}

.paralax-img.fst {
    background-image: url("../images/12.png");
}

.paralax-img.sec {
    background-image: url("../images/11.jpg");
}

.tabs-wrapper {
    width: 95%;
    margin: 110px auto 0 auto;
}

@media only screen and (max-width: 576px) {
    .tabs-wrapper {
        margin: 100px auto 0 auto;
    }
}

.tabs-wrapper .tabs-text {
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.tabs-wrapper .tables {
    width: 100%;
    margin-top: 0;
    border-radius: 0px 10px 10px 10px;
}

.tabs {
    display: inline-block;
    list-style: none;
    opacity: 0;
    transform: translateX(0px);
    animation: movingX 1.3s ease-out;
    animation-fill-mode: forwards;
}

.tabs li {
    display: inline-block;
    width: 150px;
}

@media only screen and (max-width: 576px) {
    .tabs li {
        width: 100px;
    }
}

.tabs li a {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 20px 0;
    border-bottom: 2px solid #888;
    background: #fff;
}

.tabs li a:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    transition: transform 0.2s;
    background: linear-gradient(to top right, #bd003c, #820203);
    transform: scaleX(0);
    height: 3px;
}

.tabs li a:hover:after {
    transform: scaleX(1);
}

.tabs li .tab-active {
    display: block;
    background: #dddedf;
}

.tabs li .tab-active:hover:after {
    transform: scaleX(0);
}

#tab2 {
    display: none;
}

@keyframes movingX {
    from {
        opacity: 0;
        transform: translate(85px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    background: #efefef;
    border: 1px solid #888;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(-45px);
}

@media only screen and (max-width: 576px) {
    .modal {
        width: 300px;
        margin-left: -150px;
    }
}

.modal form {
    width: 80%;
}

.modal__close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: background 0.4s ease-out;
}

.modal__close:hover {
    background: #820203;
}

.modal input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #c0c0c0;
}

.modal__pass {
    margin-top: 10px;
}

.modal__pass-again {
    margin-top: 10px;
}

.state {
    visibility: visible;
    opacity: 1;
}

.state + .modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.search-container {
    position: relative;
}

.search-container .delete-result {
    position: absolute;
    right: 13px;
    top: 13px;
    cursor: pointer;
}

#search {
    display: inline-block;
    padding: 10px;
}

#result {
    position: absolute;
    width: 300px;
    background-color: white;
    max-height: 260px;
    margin-top: 10px;
    padding: 10px 0 0 10px;
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    overflow: auto;
    font-style: italic;
    z-index: 9999;
}

@media only screen and (max-width: 576px) {
    #result {
        width: 100%;
    }
}

#result:empty {
    display: none;
}

.person {
    display: block;
    margin: 0 10px 0 0;
    padding: 5px;
    font-style: italic;
}

.person:hover {
    background-color: #3875d7;
    color: white;
}

#warning {
    font-style: italic;
    color: #820203;
}

@media only screen and (max-width: 576px) {
    #warning {
        text-align: center;
    }
}

.hospital {
    margin: 0;
}

.hospital b {
    font-weight: bold;
}

.our-goal {
    margin-bottom: 15px;
}

.our-goal::after {
    content: "";
    clear: both;
    display: table;
}

.our-goal__container {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .our-goal__container {
        max-width: 95%;
    }
}

.our-goal__container h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 43px;
    margin-bottom: 15px;
    text-shadow: -2px 2px 10px black;
    text-align: center;
    color: #820203;
}

@media only screen and (max-width: 768px) {
    .our-goal__container h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .our-goal__container h2 {
        font-size: 20px;
    }
}

.our-goal__container p, .our-goal__container ul {
    font-style: italic;
    font-size: 18px;
    color: black;
    padding: 35px;
}

@media only screen and (max-width: 576px) {
    .our-goal__container p, .our-goal__container ul {
        padding: 25px 5px;
    }
}

.our-goal__container p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 -4px 2px -2px grey;
}

.our-goal__imgf {
    float: left;
    shape-outside: circle(50%);
    margin-right: 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .our-goal__imgf {
        height: 150px;
    }
}

@media only screen and (max-width: 576px) {
    .our-goal__imgf {
        height: 100px;
    }
}

.message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 71px;
    height: 50px;
    background-image: linear-gradient(141deg, #0def8b 0%, #01f519 51%, #40de0c 75%);
    z-index: 9998;
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .message {
        top: 56px;
    }
}

.message p {
    display: inline-block;
    height: 6px;
    font-size: 6px;
    font-weight: bold;
    border-radius: 3px;
}

.message .left {
    position: relative;
    width: 18px;
    transform: rotate(-140deg);
    -ms-transform-origin: 50% 310%;
    -webkit-transform-origin: 50% 310%;
    transform-origin: 84% 90%;
}

.message .left:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    animation: leftToRight 0.5s ease-out;
    animation-fill-mode: forwards;
}

.message .right {
    width: 35px;
    transform: rotate(-45deg);
}

.message .right:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    animation: leftToRight 0.8s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes leftToRight {
    from {
        display: none;
        width: 0;
    }
    to {
        display: inline-block;
        width: 100%;
    }
}

.reg-enter-wrapper {
    background-color: white;
    padding-bottom: 7px;
}

@media only screen and (max-width: 992px) {
    .reg-enter-wrapper {
        display: none;
        position: absolute;
        width: 100%;
        top: 71px;
        left: 0;
    }
}

@media only screen and (max-width: 576px) {
    .reg-enter-wrapper {
        top: 56px;
    }
}

@media only screen and (max-width: 992px) {
    .reg-enter-wrapper .enter {
        display: flex;
        height: 41px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .reg-enter-wrapper .register {
        display: flex;
        height: 42px;
        justify-content: center;
        align-items: center;
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 12px 0;
}

@media only screen and (max-width: 992px) {
    .burger-menu {
        display: inline-block;
    }
}

.burger-menu span {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: #222;
    transition: all 0.2s ease-in-out;
}

.burger-menu span:before, .burger-menu span:after {
    position: absolute;
    background: #222;
    content: "";
    width: 20px;
    height: 4px;
    transition: all 0.2s ease-in-out;
}

.burger-menu span:before {
    top: -8px;
}

.burger-menu span:after {
    top: 8px;
}

.burger-menu.active span {
    background: transparent;
}

.burger-menu.active span:before {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger-menu.active span:after {
    transform: rotate(-45deg) translate(5px, -6px);
}

.big-wrapper {
    min-height: 255px;
}

.sticky-header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 9999;
    border-bottom: 1px solid black;
}

.sticky-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .sticky-header__container {
        max-width: 95%;
    }
}

@media only screen and (max-width: 576px) {
    .sticky-header__container {
        height: 55px;
    }
}

.sticky-header__container__logo {
    display: flex;
    align-items: center;
    height: 80%;
    color: #820203;
    text-decoration: none;
}

.sticky-header__container img {
    width: auto;
    height: 100%;
}

@media only screen and (max-width: 576px) {
    .sticky-header__container img {
        width: 110px;
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .sticky-header .first-nav .main-link {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 992px) {
    .sticky-header .first-nav {
        display: none;
        position: absolute;
        left: 0;
        top: 155px;
        width: 100%;
        order: 2;
        background-color: white;
        border-bottom: 1px solid #888;
    }
}

@media only screen and (max-width: 576px) {
    .sticky-header .first-nav {
        top: 139px;
    }
}

.sticky-header .first-nav__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .sticky-header .first-nav__container {
        flex-direction: column;
        width: 95%;
        text-align: center;
        margin: auto;
    }
}

@media only screen and (max-width: 992px) {
    .sticky-header .first-nav__container .sticky-header__link {
        display: block;
        padding: 5px 0;
    }
}

@media only screen and (max-width: 992px) {
    .sticky-header .second-nav {
        order: 1;
    }
}

.sticky-header .profile {
    cursor: pointer;
    position: relative;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: right;
}

@media only screen and (max-width: 992px) {
    .sticky-header .profile {
        position: static;
    }
}

.sticky-header .profile__name {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    max-width: 160px;
    font-style: oblique;
}

.sticky-header .profile__menu {
    display: none;
    position: absolute;
    width: 135px;
    top: 35px;
    right: 0;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 2px 10px black;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #ccc;
    z-index: 9999;
}

@media only screen and (max-width: 992px) {
    .sticky-header .profile__menu {
        top: 72px;
        width: 100%;
        text-align: center;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #888;
    }
}

@media only screen and (max-width: 576px) {
    .sticky-header .profile__menu {
        top: 57px;
    }
}

.sticky-header .profile__menu li {
    transition: background 0.4s;
}

@media only screen and (max-width: 992px) {
    .sticky-header .profile__menu li {
        padding: 5px 0;
    }
}

.sticky-header .profile .main-link {
    font-size: 17px;
    padding-bottom: 0;
}

.sticky-header .profile .angle-down {
    display: inline-block;
    transition: all 0.4s;
    line-height: 0.4;
}

.slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
    .slider {
        margin-top: 55px;
    }
}

.slider .slick-arrow {
    position: absolute;
    height: 50px;
    font-weight: bold;
    font-size: 46px;
    top: calc(50% - 25px);
    line-height: 0.1;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 9;
}

.slider .slick-arrow:hover {
    background-color: rgba(200, 0, 0, 0.6);
    box-shadow: 0px 0px 20px black;
}

.slider .slick-prev {
    left: 0;
}

.slider .slick-next {
    right: 0;
}

.slider .slider__item {
    display: flex;
    align-items: flex-end;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #888;
    background-blend-mode: overlay;
    transition: background 0.4s;
}

.slider .slider__item:hover {
    background-color: #404040;
}

@media only screen and (max-width: 992px) {
    .slider .slider__item {
        height: 400px;
    }
}

@media only screen and (max-width: 576px) {
    .slider .slider__item {
        height: 250px;
    }
}

.slider .slider__item__text {
    margin: 0 auto 40px auto;
    width: 100%;
    max-width: 80%;
    text-shadow: -2px 2px 10px black;
    color: #c80000;
    font-size: 58px;
    font-weight: bold;
    font-style: italic;
    transition: 0.5s ease-out;
}

@media only screen and (max-width: 1200px) {
    .slider .slider__item__text {
        max-width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .slider .slider__item__text {
        margin: 0 auto 20px auto;
        font-size: 42px;
    }
}

@media only screen and (max-width: 576px) {
    .slider .slider__item__text {
        font-size: 32px;
    }
}

@media only screen and (max-width: 420px) {
    .slider .slider__item__text {
        font-size: 25px;
    }
}

.slider .first {
    background-image: url("../images/1.png");
}

.slider .second {
    background-image: url("../images/4.jpg");
}

.slider .thirth {
    background-image: url("../images/1.jpg");
}

.slider .fourth {
    background-image: url("../images/2.jpg");
}

.slider .slick-list {
    padding: 0 !important;
}

.slider .slick-slide.slick-active .slider__item__text {
    animation: movingToX 2s;
}

.slider .slick-dots {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 80%;
}

@media only screen and (max-width: 1200px) {
    .slider .slick-dots {
        max-width: 95%;
    }
}

.slider .slick-dots li {
    display: inline-block;
    margin-right: 5px;
    width: 100%;
}

.slider .slick-dots li button {
    position: relative;
    display: inline-block;
    width: 100%;
    outline: none;
    height: 8px;
    font-size: 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.slider .slick-dots li button:hover {
    background-color: white;
    color: black;
}

.slider .slick-dots li:last-child {
    margin-right: 0;
}

.slider .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: #c80000;
    border-radius: 10px;
    animation: moving 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes movingToX {
    from {
        opacity: 0;
        transform: translateX(45px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Standard syntax */
@keyframes movingToX {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes moving {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

/* Standard syntax */
@keyframes moving {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.user-info {
    position: relative;
    width: 95%;
    margin: 110px auto 0 auto;
    padding: 25px 20px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(0px);
    animation: movingX 1.3s ease-out;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 992px) {
    .user-info {
        margin: 110px auto 0 auto;
        width: 90%;
    }
}

.user-info__title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
    margin-left: 5px;
}

@media only screen and (max-width: 576px) {
    .user-info__title {
        font-size: 17px;
    }
}

.user-info .important-text {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    text-decoration: underline;
}

.user-info .groups-text {
    margin-left: 0;
}

.user-info .groups-description {
    resize: vertical;
    width: 100%;
}

.user-info label {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    font-style: italic;
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
}

@media only screen and (max-width: 576px) {
    .user-info label {
        font-size: 14px;
    }
}

.user-info .user-info__form .row {
    position: relative;
    border-radius: 2px;
}

.user-info .user-info__form .row:hover {
    border: 1px solid #820203;
    padding: 4px;
}

.user-info .user-info__form .row:hover i {
    display: inline-block !important;
}

.user-info .user-info__form .row button.action-btn {
    background: transparent;
    position: absolute;
    top: -20px;
    left: 30px;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.user-info .user-info__form .row button.action-btn i {
    position: static;
}

.user-info__form, .user-info form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 576px) {
    .user-info__form, .user-info form {
        flex-direction: column;
    }
}

.user-info__form .row, .user-info form .row {
    display: inline-block;
    width: 48%;
    margin-bottom: 10px;
    padding: 5px;
}

.user-info__form .row__title, .user-info form .row__title {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

@media only screen and (max-width: 576px) {
    .user-info__form .row__title, .user-info form .row__title {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .user-info__form .row .radios-container, .user-info form .row .radios-container {
        margin-top: 5px;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .user-info__form .row, .user-info form .row {
        position: relative;
        width: 100%;
    }
}

.user-info__form input, .user-info form input {
    padding: 1rem;
    outline: none;
    font-style: italic;
    border: 2px solid #ececec;
    border-radius: 100px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    outline: none;
    background-color: #faffbd;
}

@media only screen and (max-width: 576px) {
    .user-info__form input, .user-info form input {
        font-size: 14px;
    }
}

.user-info__form input:focus, .user-info form input:focus {
    border-color: #c80000;
}

.user-info__step {
    position: absolute;
    top: -20px;
    left: calc((100% - 112px) / 2);
    padding: 10px 15px;
    background-color: #c80000;
    border-radius: 100px;
    color: white;
    font-weight: bold;
}

.user-info__title {
    margin-left: 0;
    font-style: italic;
    text-align: center;
}

.user-info__form label {
    margin-left: 0;
}

.user-info__form .yours {
    display: inline-block;
    width: auto;
}

.user-info__form.step-two {
    align-items: center;
}

.user-info__form.step-two .row:hover {
    border: none;
    padding: 5px;
}

.user-info .radios-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.user-info .radios-wrapper input {
    display: inline-block;
    width: auto;
}

.user-info .radios-wrapper p {
    margin-right: 10px;
}

.about-us {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: rgba(130, 2, 3, 0.8);
    border-radius: 50%;
    box-shadow: 0px 0px 50px black;
    overflow: hidden;
}

@supports not (shape-outside: polygon(-4px 3px, 146px 2px, 144px 25px)) {
    .about-us {
        width: 100%;
        max-width: 80%;
        padding: 10px;
        height: auto;
        border-radius: 5px;
    }

    @media only screen and (max-width: 1200px) {
        .about-us {
            max-width: 95%;
        }
    }
}

.about-us::after {
    content: "";
    clear: both;
    display: table;
}

.about-us__left {
    shape-outside: polygon(-4px 3px, 146px 2px, 144px 25px, 144px 46px, 116px 30px, 93px 33px, 71px 44px, 53px 57px, 37px 73px, 22px 99px, 22px 127px, 19px 143px, 23px 156px, 23px 160px, 24px 175px, 30px 192px, 43px 214px, 60px 237px, 84px 260px, 120px 282px, 133px 285px, 147px 285px, 146px 300px, 125px 300px, 110px 300px, 115px 300px, 97px 300px, 0px 294px);
    -webkit-shape-outside: polygon(-4px 3px, 146px 2px, 144px 25px, 144px 46px, 116px 30px, 93px 33px, 71px 44px, 53px 57px, 37px 73px, 22px 99px, 22px 127px, 19px 143px, 23px 156px, 23px 160px, 24px 175px, 30px 192px, 43px 214px, 60px 237px, 84px 260px, 120px 282px, 133px 285px, 147px 285px, 146px 300px, 125px 300px, 110px 300px, 115px 300px, 97px 300px, 0px 294px);
    clip-path: polygon(-4px 3px, 146px 2px, 144px 25px, 144px 46px, 116px 30px, 93px 33px, 71px 44px, 53px 57px, 37px 73px, 22px 99px, 22px 127px, 19px 143px, 23px 156px, 23px 160px, 24px 175px, 30px 192px, 43px 214px, 60px 237px, 84px 260px, 120px 282px, 133px 285px, 147px 285px, 146px 300px, 125px 300px, 110px 300px, 115px 300px, 97px 300px, 0px 294px);
    -webkit-clip-path: polygon(-4px 3px, 146px 2px, 144px 25px, 144px 46px, 116px 30px, 93px 33px, 71px 44px, 53px 57px, 37px 73px, 22px 99px, 22px 127px, 19px 143px, 23px 156px, 23px 160px, 24px 175px, 30px 192px, 43px 214px, 60px 237px, 84px 260px, 120px 282px, 133px 285px, 147px 285px, 146px 300px, 125px 300px, 110px 300px, 115px 300px, 97px 300px, 0px 294px);
    float: left;
    width: 150px;
    height: 300px;
}

@supports not (shape-outside: polygon(-4px 3px, 146px 2px, 144px 25px)) {
    .about-us__left {
        float: none;
        height: auto;
    }
}

.about-us__right {
    shape-outside: polygon(-1px 277px, 27px 275px, 80px 247px, 111px 208px, 128px 176px, 131px 127px, 120px 91px, 114px 71px, 101px 55px, 87px 46px, 75px 36px, 53px 23px, 25px 24px, 1px 43px, 0px 0px, 150px 0px, 150px 301px, 0px 301px);
    -webkit-shape-outside: polygon(-1px 277px, 27px 275px, 80px 247px, 111px 208px, 128px 176px, 131px 127px, 120px 91px, 114px 71px, 101px 55px, 87px 46px, 75px 36px, 53px 23px, 25px 24px, 1px 43px, 0px 0px, 150px 0px, 150px 301px, 0px 301px);
    clip-path: polygon(-1px 277px, 27px 275px, 80px 247px, 111px 208px, 128px 176px, 131px 127px, 120px 91px, 114px 71px, 101px 55px, 87px 46px, 75px 36px, 53px 23px, 25px 24px, 1px 43px, 0px 0px, 150px 0px, 150px 301px, 0px 301px);
    -webkit-clip-path: polygon(-1px 277px, 27px 275px, 80px 247px, 111px 208px, 128px 176px, 131px 127px, 120px 91px, 114px 71px, 101px 55px, 87px 46px, 75px 36px, 53px 23px, 25px 24px, 1px 43px, 0px 0px, 150px 0px, 150px 301px, 0px 301px);
    float: right;
    width: 150px;
    height: 300px;
}

@supports not (shape-outside: polygon(-4px 3px, 146px 2px, 144px 25px)) {
    .about-us__right {
        float: none;
        height: auto;
    }
}
html{
    overflow-x: hidden;
}
.about-us p {
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

.about-us a {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
}

.footer {
    width: 100%;
    margin-top: 50px;
    padding: 45px 0;
    background-color: #191919;
}

.footer__container {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .footer__container {
        max-width: 95%;
    }
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 576px) {
    .footer__item {
        flex-direction: column;
    }
}

.footer .sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}

@media only screen and (max-width: 576px) {
    .footer .sec {
        flex-direction: column;
        align-items: center;
    }
}

.footer .sec p {
    width: 32%;
    color: #efefef;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.footer .sec p:first-child {
    text-align: left;
}

@media only screen and (max-width: 576px) {
    .footer .sec p:first-child {
        text-align: center;
    }
}

.footer .sec p:last-child {
    text-align: right;
}

@media only screen and (max-width: 576px) {
    .footer .sec p:last-child {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .footer .sec p {
        width: 50%;
    }
}

.footer .link {
    color: #E2F7FF;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 5px;
}

.footer .link:last-child {
    margin-right: 0;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #c80000;
    font-style: italic;
}

@media only screen and (max-width: 576px) {
    .footer__social {
        flex-direction: column;
        align-items: center;
    }
}

.footer__social img {
    width: 70px;
}

@media only screen and (max-width: 576px) {
    .footer__social img {
        width: 60px;
    }
}

.footer__social span {
    text-align: left;
    font-size: 14px;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    color: #820203;
}

@media only screen and (max-width: 576px) {
    .footer__social span {
        font-size: 12px;
    }
}

.footer__social .facebook {
    font-size: 40px;
    transition: color 0.5s;
}

.footer__social .facebook:hover {
    color: #820203;
}

/*# sourceMappingURL=style.css.map */
